<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #a6d9f9"
>
  <img src="../../assets/book app_icon.png" />
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button class="nav-link" mat-button (click)="home()">Home</button>
      </li>
      <li *ngIf="flag == true" class="nav-item">
        <button class="nav-link" mat-button (click)="login()">Login</button
        ><span class="sr-only">(current)</span>
      </li>
      <li *ngIf="flag == true" class="nav-item">
        <button class="nav-link" mat-button (click)="register()">
          Register</button
        ><span class="sr-only">(current)</span>
      </li>
      <li *ngIf="flag == false" class="nav-item">
        <button class="nav-link" mat-button (click)="fav()">Favourites</button>
      </li>
      <li *ngIf="flag == false" class="nav-item">
        <button class="nav-link" mat-button (click)="author()">Author</button>
      </li>
      <li *ngIf="flag == false" class="nav-item">
        <button class="nav-link" mat-button (click)="rec()">
          Recommendations
        </button>
      </li>
      <li></li>
    </ul>

    <form
      [formGroup]="booksearch"
      (ngSubmit)="search()"
      class="form-inline my-2 my-lg-0 search-form"
    >
      <input
        [formControl]="title"
        class="form-control mr-sm-2 search-filled"
        type="search"
        placeholder="Search Here"
        aria-label="Search"
      />
      <button
        class="btn btn-outline-success my-2 my-sm-0"
        type="submit"
        onclick="search()"
      >
        Search
      </button>
    </form>
    <ul *ngIf="flag == false">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img
            [src]="mypic"
            height="50px"
            width="50px"
            alt=".."
            *ngIf="mypic"
          />
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- <a class="dropdown-item" href="login">Sign Out</a> -->
          <button mat-button (click)="signout()">Sign Out</button>
        </div>
      </li>
    </ul>
  </div>
</nav>
